{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    {{form_start(message)}}

        <h1>{{user.firstname}}</h1>
        
        <p>Please enter a phone number and message below to send a SMS</p>

        <div class="form-group">
            {{form_label(message.phone_number)}}
            {{form_widget(message.phone_number)}}
        </div>

        <div class="form-group">
            {{form_label(message.text, "Message")}}
            {{form_widget(message.text)}}
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
        <div class="view-messages">
            <p><a href="/{{user.id}}/messages">View sent messages?</a></p>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <p><a href="/admin/messages">View all messages sent?</a></p>
            {% endif %}
            {% if success is defined  %}
                <p>{{success}}</p>
            {% endif %}
        </div>

        {{form_label(message.send)}}
        {{form_widget(message.send)}}

    {{form_end(message)}}
</div>

{% endblock %}
