{% extends 'base.html.twig' %}

{% block title %}Send a message!{% endblock %}

{% block body %}

<div class="container">
    {{form_start(message)}}

        <h1>{{user.firstname}}</h1>
        
        <p>Please enter a phone number and message below to send a SMS</p>

        <div class="form-group">
            {{form_label(message.phone_number)}}
            <div class="form-group">
                {{form_widget(message.phone_number)}}
            </div>
        </div>

        <div class="form-group">
            {{form_label(message.text, "Message")}}
            {{form_widget(message.text)}}
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
        <div class="view-messages">
            <p><a href="/{{user.id}}/messages">View your sent messages?</a></p>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <p><a href="/admin/all">View all messages sent?</a></p>
            {% endif %}

            <p><a href="/logout">Logout?</a></p>

            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}

        </div>

        {% if form_errors(message.phone_number) %}
            <span class="error">{{form_errors(message.phone_number) }}</span>
        {% elseif form_errors(message.text)%}
            <span class="error">{{form_errors(message.text) }}</span>
        {% endif %}
        
        {{form_label(message.send)}}
        {{form_widget(message.send)}}

    {{form_end(message)}}
</div>

{% endblock %}
